* {
  cursor: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Fullscreen loading container */
.loading {
  position: fixed;
  inset: 0;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loading img {
  display: block;
  min-width: 200px;
  min-height: 209px;
}

/* Custom cursor */
/* .mouse {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff0000;
  position: absolute;
  left: 0;
  top: 0;

  animation: mouseAnimation 0.5s infinite ease-in-out alternate;
  hueShift 3s linear infinite;
  pointer-events: none;
} */
@keyframes hueShift {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes mouseAnimation {
  from {
    width: 25px;
    height: 25px;
  }
  to {
    width: 15px;
    height: 15px;
  }
}



